<div class="w-full">
  <h1 class="mx-auto text-lg font-bold text-4xl">Welcome</h1>
  <p>
    It's <%= Time.now %>.
    We have <%= pluralize(@total_members, "member") %>.
    We have <%= pluralize(@total_courses, "course") %>.
  </p>
</div>
