<div class="p-4">
    <h1 class="font-bodoni font-bold text-3xl">Lake Vernon Yacht Club</h1>
    <p class="font-para text-lg mt-5"></p>
    <hr class="my-10 border-gray-300">

    <h3 class="font-bold text-2xl ">History</h3>
    <p class="font-para text-lg mt-5">
        Since its founding in 2024, the Lake Vernon Yacht Club has been a cornerstone of the community, offering a haven for boating enthusiasts and a vibrant social hub. Nestled on the serene shores of Lake Vernon, our Club provides a picturesque setting for relaxation, recreation, and competitive sailing. Our members enjoy a range of amenities, including state-of-the-art boating facilities, a clubhouse with stunning lake views, and a variety of social events throughout the year. From casual gatherings to formal dinners, our Club offers something for everyone. At the heart of our Club is a shared passion for sailing. We host a variety of sailing events, from casual races to competitive regattas, catering to sailors of all skill levels. Whether you're a seasoned sailor or a newcomer to the sport, you'll find a welcoming and supportive community at the Lake Vernon Yacht Club.
    </p>

    <hr class="my-10 border-gray-300">

</div>