<p>Hi, <%= current_user.first_name %>!</p>
<br>
<p>You are <strong>not</strong> yet a member, but if you'd like to submit an application please fill out the following form:</p>
<!-- 
Implement mailer creation for membership application.
-->